@import "main-mod";
@import "header";
section {
    text-align: center;
    margin: 80px 0;

    .img404 {
        text-align: center;
    
        img {
            width: 45%
        }
    }
    h1 {
        color: $mainColor;
    }
    button {
        background: $mainColor;
        color: #fff;
        border: none;
        padding: 10px 40px;
    }
}
@import "footer";