$mainColor: #0071b4;
$color1 : #1078ad;
$color2 :#c7c7c7;
$btn_color :#1078ad;
$goldColor:#F4CF1B;

* {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    a {
        text-decoration: none;
    }
}